{
    "overrides": [
        {
            "files": [
                "*.scss",
                "*.sass"
            ],
            "options": {
                "parser": "scss"
            }
        }
    ],
    "ignorePattern": "^---\\s*$"
}